# Ignore everything
*

# Allow only tracked config files
!.gitignore
!hypr/
!hypr/**
!waybar/
!waybar/config
!waybar/style.css
!rofi/
!firefox/*
!rofi/**
!rofi/config.rasi
!scripts/
!scripts/*
!wallust/
!wallust/**
!kitty/
!kitty/*
!waypapper/
!waypapper/*
!mako/
!mako/**
!hypr-gtk-tool/
!hypr-gtk-tool/**
!~/.zshrc
!~/.ohmyzsh
!fish