@define-color foreground #E5EFF3;
@define-color background #202226;
@define-color cursor #92A3BE;

@define-color color0 #46484D;
@define-color color1 #1D4141;
@define-color color2 #3E5889;
@define-color color3 #836892;
@define-color color4 #5F8CAA;
@define-color color5 #A7A1BD;
@define-color color6 #B6D0DE;
@define-color color7 #D2DFE6;
@define-color color8 #939CA1;
@define-color color9 #1D4141;
@define-color color10 #3E5889;
@define-color color11 #836892;
@define-color color12 #5F8CAA;
@define-color color13 #A7A1BD;
@define-color color14 #B6D0DE;
@define-color color15 #D2DFE6;
