@define-color foreground #DCE8EA;
@define-color background #161517;
@define-color cursor #95AAB4;

@define-color color0 #3E3C3E;
@define-color color1 #73101A;
@define-color color2 #4D6B7D;
@define-color color3 #78626F;
@define-color color4 #E0586B;
@define-color color5 #B8A4B4;
@define-color color6 #9CBEC4;
@define-color color7 #C5D6D9;
@define-color color8 #8A9698;
@define-color color9 #73101A;
@define-color color10 #4D6B7D;
@define-color color11 #78626F;
@define-color color12 #E0586B;
@define-color color13 #B8A4B4;
@define-color color14 #9CBEC4;
@define-color color15 #C5D6D9;
