/* WALLUST GENERATED THEME */
:root {
    /* Special Colors */
    --background: #202226;
    --foreground: #E5EFF3;
    --cursor: #92A3BE;

    /* Standard Colors (0-7) */
    --color0: #46484D;
    --color1: #1D4141;
    --color2: #3E5889;
    --color3: #836892;
    --color4: #5F8CAA;
    --color5: #A7A1BD;
    --color6: #B6D0DE;
    --color7: #D2DFE6;

    /* Bright Colors (8-15) */
    --color8: #939CA1;
    --color9: #1D4141;
    --color10: #3E5889;
    --color11: #836892;
    --color12: #5F8CAA;
    --color13: #A7A1BD;
    --color14: #B6D0DE;
    --color15: #D2DFE6;
}
