/* WALLUST GENERATED THEME */
:root {
    /* Special Colors */
    --background: #161517;
    --foreground: #DCE8EA;
    --cursor: #95AAB4;

    /* Standard Colors (0-7) */
    --color0: #3E3C3E;
    --color1: #73101A;
    --color2: #4D6B7D;
    --color3: #78626F;
    --color4: #E0586B;
    --color5: #B8A4B4;
    --color6: #9CBEC4;
    --color7: #C5D6D9;

    /* Bright Colors (8-15) */
    --color8: #8A9698;
    --color9: #73101A;
    --color10: #4D6B7D;
    --color11: #78626F;
    --color12: #E0586B;
    --color13: #B8A4B4;
    --color14: #9CBEC4;
    --color15: #C5D6D9;
}
