body {
    margin: 0;
    background: var(--background);
    color: var(--color4);
    font-family: "JetBrains Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    animation: fadeIn 1.8s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

